APP_PORT=<APP_PORT>

MONGO_ADMIN_URL=<MONGO_ADMIN_URL>
MONGO_CONNECTION_URL=<MONGO_CONNECTION_URL>
MONGO_DATABASE_NAME=<MONGO_DATABASE_NAME>
MONGO_USERNAME=<MONGO_USERNAME>
MONGO_PASSWORD=<MONGO_PASSWORD>

ADMIN_EMAIL=<ADMIN_EMAIL>
ADMIN_PASSWORD=<ADMIN_PASSWORD>

SHA512_SALT_KEY=<SHA512_SALT_KEY>